body {
    background-image: url(avião-decolando-1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: whitesmoke;
    padding: 1%;
  }

  h1 {
    font-style: italic;
    font-family: Verdana, sans-serif;
    text-align: center;
  }

  p {
      font-family: sans-serif
  }

  ul {
      text-align: left;
  }

  ul li:nth-child(odd){
    background-color: rgba(0, 0, 255, 0.5); /*blue backgraund with 30% opacity */
  }

  h3 {
    clear: both;
  }

  h2 {
    margin-bottom: 15px;
  }

  a:hover{
    color: red;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .conteudo-descricao {
    top: 100px;
    margin-left: 300px;
    margin-top: 25px;
    line-height: 25px;
  }

  #rodrigo {
    float: left;
    width: 260px;
    padding: 5px;
    background-color: black;
    border-radius: 100%;
  }

  .descricao-conteiner {
    height: 280px;
    position: left;
    margin-bottom: 5px;
  }