body {
    background-image: url(avião-decolando-1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: whitesmoke;
  }

  h1 {
    font-style: italic;
    font-family: Verdana, sans-serif;
  }

  p {
      font-family: sans-serif
  }

  ul {
      text-align: left;
  }
